<a href="https://colab.research.google.com/github/raj-coding1/Eda_2/blob/main/EDA_imdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
movies = pd.read_csv('/content/imdb_top_1000.csv')
movies.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [ ]:
movies.drop('Poster_Link',axis = 1, inplace = True)
movies.head()

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [ ]:
genre = movies.groupby('Genre')

In [ ]:
genre.min()

TypeError: agg function failed [how->min,dtype->object]

In [ ]:
genre.sum()

,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Genre,,,,,,,,,,,,,,
"Action, Adventure",The Dark Knight RisesRaiders of the Lost ArkBa...,20121981200519891982,UAAUAUA,164 min115 min140 min127 min93 min,40.9,Eight years after the Joker's reign of anarchy...,359.0,Christopher NolanSteven SpielbergChristopher N...,Christian BaleHarrison FordChristian BaleHarri...,Tom HardyKaren AllenMichael CaineSean ConneryB...,Anne HathawayPaul FreemanKen WatanabeAlison Do...,Gary OldmanJohn Rhys-DaviesLiam NeesonDenholm ...,4627667,"448,139,099248,159,971206,852,432197,171,80647..."
"Action, Adventure, Biography","Aguirre, der Zorn Gottes",1972,0,95 min,7.9,"In the 16th century, the ruthless and insane D...",0.0,Werner Herzog,Klaus Kinski,Ruy Guerra,Helena Rojo,Del Negro,52397,0
"Action, Adventure, Comedy",SholayThe GeneralBajrangi BhaijaanGuardians of...,1975192620152014201620171980201820142017,UPassedUAUARUAURAUA,204 min67 min163 min121 min108 min130 min133 m...,79.1,After his family is murdered by a notorious an...,468.0,Ramesh SippyClyde BruckmanKabir KhanJames Gunn...,Sanjeev KumarBuster KeatonSalman KhanChris Pra...,DharmendraBuster KeatonHarshaali MalhotraVin D...,Amitabh BachchanMarion MackNawazuddin Siddiqui...,Amjad KhanGlen CavenderKareena KapoorZoe Salda...,4560766,"1,033,8958,178,001333,176,600363,070,709315,05..."
"Action, Adventure, Crime",Celda 211,2009,0,113 min,7.6,The story of two men on different sides of a p...,0.0,Daniel Monzón,Luis Tosar,Alberto Ammann,Antonio Resines,Manuel Morón,63882,0
"Action, Adventure, Drama",The Lord of the Rings: The Return of the KingT...,2003200120021954200020192015200620062002194819...,UUUAUUAUAAUAAPG-13PassedUAUA,201 min178 min179 min207 min155 min181 min156 ...,114.1,Gandalf and Aragorn lead the World of Men agai...,1046.0,Peter JacksonPeter JacksonPeter JacksonAkira K...,Elijah WoodElijah WoodElijah WoodToshirô Mifun...,Viggo MortensenIan McKellenIan McKellenTakashi...,Ian McKellenOrlando BloomViggo MortensenKeiko ...,Orlando BloomSean BeanOrlando BloomYukiko Shim...,9295859,"377,845,905315,544,750342,551,365269,061187,70..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Mystery, Romance, Thriller",Vertigo,1958,A,128 min,8.3,A former police detective juggles wrestling wi...,100.0,Alfred Hitchcock,James Stewart,Kim Novak,Barbara Bel Geddes,Tom Helmore,364368,"3,200,000"
"Mystery, Sci-Fi, Thriller",Twelve MonkeysDark City,19951998,AA,129 min100 min,15.6,"In a future world devastated by disease, a con...",140.0,Terry GilliamAlex Proyas,Bruce WillisRufus Sewell,Madeleine StoweKiefer Sutherland,Brad PittJennifer Connelly,Joseph MelitoWilliam Hurt,766370,"57,141,45914,378,331"
"Mystery, Thriller",MementoRear WindowShutter IslandKahaaniSleuthT...,200019542010201219721938198820121997,UAUAUAPGA,113 min112 min138 min122 min138 min96 min107 m...,71.8,A man with short-term memory loss attempts to ...,393.0,Christopher NolanAlfred HitchcockMartin Scorse...,Guy PearceJames StewartLeonardo DiCaprioVidya ...,Carrie-Anne MossGrace KellyEmily MortimerParam...,Joe PantolianoWendell CoreyMark RuffaloIndrane...,Mark Boone JuniorThelma RitterBen KingsleyNawa...,3072266,"25,544,86736,764,313128,012,9341,035,9534,081,..."
Thriller,Wait Until Dark,1967,0,108 min,7.8,A recently blinded woman is terrorized by a tr...,81.0,Terence Young,Audrey Hepburn,Alan Arkin,Richard Crenna,Efrem Zimbalist Jr.,27733,"17,550,741"
Western,"Il buono, il brutto, il cattivoOnce Upon a Tim...",1966196819651976,AUUA,161 min165 min132 min135 min,33.4,A bounty hunting scam joins two men in an unea...,313.0,Sergio LeoneSergio LeoneSergio LeoneClint East...,Clint EastwoodHenry FondaClint EastwoodClint E...,Eli WallachCharles BronsonLee Van CleefSondra ...,Lee Van CleefClaudia CardinaleGian Maria Volon...,Aldo GiuffrèJason RobardsMara KruppBill McKinney,1289665,"6,100,0005,321,50815,000,00031,800,000"

In [ ]:
genre.std()

ValueError: could not convert string to float: 'The Shawshank Redemption'

In [ ]:
movies.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2',
       'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [ ]:
movies['Gross']

0       28,341,469
1      134,966,411
2      534,858,444
3       57,300,000
4        4,360,000
          ...
995            NaN
996            NaN
997     30,500,000
998            NaN
999            NaN
Name: Gross, Length: 1000, dtype: object

In [ ]:
genre.sum()['Gross'].sort_values(ascending = False)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
genre.sum()['No_of_Votes'].max()

17720455

In [ ]:
genre.sum()['Gross'].dtypes

dtype('O')

In [ ]:
movies.dtypes

Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [ ]:
int(movies['Gross'])

TypeError: cannot convert the series to <class 'int'>

In [ ]:
movies['Gross'] = movies['Gross'].str.replace(',','').astype(int)

In [ ]:
movies['Gross'].fillna(method='ffill',inplace = True)

<ipython-input-34-2845258e1065>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  movies['Gross'].fillna(method='ffill',inplace = True)

In [ ]:
movies['Gross'].dtypes

dtype('int64')

In [ ]:
genre = movies.groupby('Genre')

In [ ]:
genre.sum()['Gross'].sort_values(ascending = False).head(3)

Genre
Action, Adventure, Sci-Fi       5898659459
Animation, Adventure, Comedy    4603889399
Action, Adventure, Drama        2714237246
Name: Gross, dtype: int64

In [ ]:
movies.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2',
       'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [ ]:
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending = False)

Genre
Animation, Drama, War         8.50
Action, Sci-Fi                8.40
Drama, Musical                8.40
Drama, Mystery, War           8.35
Western                       8.35
                              ...
Action, Adventure, Mystery    7.60
Action, Adventure, Family     7.60
Action, Adventure, Crime      7.60
Animation, Drama, Romance     7.60
Drama, War, Western           7.60
Name: IMDB_Rating, Length: 202, dtype: float64

In [ ]:
movies.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2',
       'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [ ]:
movies['Director']

0            Frank Darabont
1      Francis Ford Coppola
2         Christopher Nolan
3      Francis Ford Coppola
4              Sidney Lumet
               ...
995           Blake Edwards
996          George Stevens
997          Fred Zinnemann
998        Alfred Hitchcock
999        Alfred Hitchcock
Name: Director, Length: 1000, dtype: object

In [ ]:
movies['No_of_Votes']

0      2343110
1      1620367
2      2303232
3      1129952
4       689845
        ...
995     166544
996      34075
997      43374
998      26471
999      51853
Name: No_of_Votes, Length: 1000, dtype: int64

In [1]:
print('Hello World')

Hello World